{% include base_path %}

<style>

/* ==================================================
   GLOBAL STICKY HEADER
   ================================================== */

.masthead {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0 !important;
  z-index: 9999 !important;

  background: #ffffff !important;

  box-shadow:
    0 2px 5px rgba(0, 0, 0, 0.08) !important;
}


/* ==================================================
   LAB INFORMATION
   ================================================== */

.lab-header {
  width: 100%;
  text-align: center;

  padding-top: 2px;
  padding-bottom: 9px;

  line-height: 1.20;
}


.lab-header-name {
  font-size: 1.05em;
  font-weight: 700;
  color: #4a4a4a;

  margin: 0 0 3px 0;
}


.lab-header-person {
  font-size: 0.78em;
  font-weight: 400;
  color: #777777;

  margin: 0;
}


/* ==================================================
   MOBILE
   ================================================== */

@media (max-width: 768px) {

  .lab-header {
    padding-top: 3px;
    padding-bottom: 7px;
  }

  .lab-header-name {
    font-size: 0.95em;
  }

  .lab-header-person {
    font-size: 0.72em;
  }

}

</style>


<div class="masthead">

  <div class="masthead__inner-wrap">


    <!-- ==============================================
         NAVIGATION
         ============================================== -->

    <div class="masthead__menu">

      <nav id="site-nav" class="greedy-nav">

        <button>
          <div class="navicon"></div>
        </button>


        <ul class="visible-links">

          <li class="masthead__menu-item masthead__menu-item--lg">

            <a href="{{ base_path }}/">
              {{ site.title }}
            </a>

          </li>


          {% for link in site.data.navigation.main %}

            {% if link.url contains 'http' %}

              {% assign domain = '' %}

            {% else %}

              {% assign domain = base_path %}

            {% endif %}


            <li class="masthead__menu-item">

              <a href="{{ domain }}{{ link.url }}">
                {{ link.title }}
              </a>

            </li>

          {% endfor %}

        </ul>


        <ul class="hidden-links hidden"></ul>

      </nav>

    </div>


    <!-- ==============================================
         LAB NAME
         ============================================== -->

    <div class="lab-header">

      <div class="lab-header-name">
        Multimodal Intelligent Robotics Lab
      </div>

      <div class="lab-header-person">
        Dr Zhenhua Yu · Director
      </div>

    </div>


  </div>

</div>
